.footer-pane-primary {
  padding: 30px 0;
  width: 100%;
  border-top: 1px solid $soft-grey;
  background-color: $lightest-grey;
}

.footer-pane-primary_content {
  margin: auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .logo { width: fit-content;}
}

.footer-links-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-link-list {
  strong { font-weight: $fontweight-strong }
  font-size: $fontsize-h4;
}

.footer-link {
  margin: 20px 0;
}

.footer-social-pane {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
  height: 98px;
  background-color: $light-grey;

  > span, > a { 
    margin-left: 16px; 
  }

  .icon {
    height: 28px;
    width: 28px;
  }
}