.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background: white;
  box-shadow: 0 0px 12px 0px #b3b3b3;
  position: relative;
  z-index: 10;
}

.nav-sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-links {
  display: flex;
  align-items: center;

  li {
    padding: 0 25px;
  }

  li:not(:first-child) {
    font-size: $fontsize-h4;
    font-weight: $fontweight-h4;

    &:hover {
      color: $grey;
    }
  }

  .navbar-active {
    position: relative;

    &::after{
      position: absolute;
      content: '';
      left: 7%;
      right: 7%;
      top: 43px;
      border-bottom: 4px solid $royal-blue;
    }
  }
}

.nav-triangle{
  border-bottom: 36px solid $royal-blue;
  border-right: 18px solid $royal-blue;
  border-left: 18px solid transparent;
  border-top: 36px solid transparent;
}

.nav-tools-container {
  display: flex;
  align-items: center;
  height: 100%
}

.nav-tools {
  display: flex;
  align-items: center;
  background: $gradient;
  min-width: 50px;
  height: 100%;
  padding: 0 5px;

  li {
    padding: 0 20px;
  }

  .button {
    border: 1px solid $royal-blue;
    
    &:hover {
      border: 1px solid $grey;
    }
  }

  .nav-tool {
    font-size: $fontsize-strong;
    font-weight: $fontweight-strong;
    color: white;
    display: flex;
    align-items: center;

    &:hover {
      color: $light-grey;
    }

    span { 
      font-size: 1.5rem; 
      position: relative;
      top: -1px;
      margin-left: 4px;
    }
  }
}

.logo {

  display: flex;
  span {
    font-size: 1.5rem;
    font-weight: 700;
    color: $royal-blue;
  }

  img {
    width: 32px;
    margin-right: 5px;
  }
}

