.group-search-container {
  
  display: flex;

  &:focus { outline: none; }

  .button-grey {
    display: flex;
    width: 32px;
    height: 52px;
    border-left: 1px solid $medium-grey;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
  }

  form {
    position: relative;
  }
}

.group-search-input {
  width: 454px;
  height: 52px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 10px;
  color: $charcoal;

  &:focus { outline: none; }

  &::placeholder {
    color: $grey-lighter;
  }
}

.group-search-list {
  position: absolute;
  top: 70px;
  background-color: white;
  width: 486px;
  max-height: 140px;
  font-size: $fontsize-strong;
  border-top: 1px solid $medium-grey;
  margin-bottom: 70px;
  overflow: auto;

  > li {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: $charcoal;

    &:hover, &.focused {
      background-color: $light-grey;
      cursor: pointer;
    }
  }
}

.clear-group-search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-40%);
  font-size: 1.2rem;
  color: $light-grey;

  &:hover {
    cursor: pointer;
    color: $brick-red;
  }
}