.new-poll-container {
  width: 100%;
  min-height: 100%;
  background: $medium-grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.new-poll-toolbar {
  display: flex;
  height: 70px;
  min-height: 70px;
  width: 100%;
  padding-left: 78px;
  background-color: white;
  align-items: center;

  &.sticky-new-poll-toolbar {
    height: 56px;
  }
  &.hidden {
    display: none;
  }
}

.new-poll-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  width: 80%;
}

.new-poll-options {
  background-color: $softer-grey;
  width: 100%;
}

.new-poll-option {
  position: relative;
  width: 121px;
  height: 135px;
  padding: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $charcoal;

  img { width: 85%; }

  &.active-option{
    background-color: white;
  }
  &:not(.active-option):hover{
    background-color: $grey;
  }

  span { padding: 15px 0 20px 0;}

  &::after {
    position: absolute;
    content: '';
    bottom: -20px;
    display: block;
    border: 10px solid transparent;
    border-top: 10px solid white;
  } 
}

.new-poll-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  > span {
    padding: 10px 0;
  }

  .large-input-container {

    * { outline: none; }

    .placeholder-input-label {
      font-style: normal;;
      color: $grey-lighter;
      font-weight: 400; 
    }

    .large-input-wrapper {
      border: none;
      height: 51px;

      input.activated { transform: translateY(-3px); }
    }
 
  }

  .title-input-container {
    margin-bottom: 18px;
  }

  .answer-option-input-container {
    margin-bottom: 12px;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 52px;
      flex-shrink: 0;

      &:hover { cursor: pointer;}
    }

    .correct-button {
      color: $soft-grey;
      border-right: 1px solid $medium-grey;

      &.selected {
        background-color: $forest-green-hover;
        color: white;
      }
    }

    .trash-button {
      color: $dark-grey;
      border-left: 1px solid $medium-grey;
    }
  }

  .button-blue-alt {
    width: 130px;
    span { margin-left: 6px;}

    & + span {
      margin-left: 15px;
      color: $brick-red;
      font-weight: 700;
    }
  }
}

.new-poll-bottom-bar {
  width: 100%;
  padding-top: 18px;
  border-top: 1px dashed white;
  margin-top: 25px;
  position: relative;
  
  display: flex;
  justify-content: space-between;

  .group-search-container {
    width: min(454px, 50%);

    .group-search-list {
      position: static;
    }
  }

  .button-grey {
    display: flex;
    width: 32px;
    height: 52px;
    border-left: 1px solid $medium-grey;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
  }

  .button-blue {

    height: 52px;
    width: 125px;

    &:focus { background-color: $royal-blue-hover;}
  }
}