.polls-index {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  flex-direction: column;
  position: relative;
}

.polls-sidebar {
  width: 225px;
  padding: 16px;

  button {
    width: 100%;
  }
}

.groups-index-container {
  display: flex;
  flex-direction: column;
  margin-left: 225px;
  margin-right: 16px;
}


.groups-index-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: white;

  *[class*="button-"]:not(.button-blue) {
    border: 1px solid $soft-grey;
    &:hover { border-color: $medium-grey;}
    &:disabled { border-color: $light-grey }
    margin-right: 4px;

    &:not(:first-child) {
      width: 130px;
    }
  }

  &.sticky-toolbar {
    box-shadow: 0 0 12px 0 #b3b3b3;
    background-color: white;
  }
}

.groups-index {
  display: flex;
  flex-direction: column;
}

.group-polls-index-container {
  margin-bottom: 18px;

  .group-polls-row {
    margin-bottom: 1px;
    padding: 0 15px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .group-header {
    background-color: $light-grey;

    .drawer-chevron:hover {
      color: $royal-blue; 
    }

    .open-drawer-chevron {
      transform: rotate(90deg);
    }

    .group-header-title {
      font-weight: $fontweight-strong;
    }

    .group-header-right {
      display: flex;
      align-items: center;
    }
    
    .group-header-controls {
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition: opacity 250ms, visibility 250ms;
      padding-right: 65px;
      
    }
    
    &:hover .group-header-controls {
      opacity: 1;
      visibility: visible;
      transition: all 100ms;
    }

    .group-header-activities {
      font-weight: 600;
    }

  }
}

.group-header-activities, .poll-row-responses {
  width: 200px;
  display: flex;
  justify-content: center;
  color: $royal-blue-hover;
  text-align: center;
}


.poll-list-item {
  .poll-row-right {
    display: flex;
    align-items: center;
  }
      
  .poll-row-controls {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms, visibility 250ms;
    padding-right: 35px;
    
  }

  &:hover .poll-row-controls {
    opacity: 1;
    visibility: visible;
    transition: all 50ms;
  }

  .poll-row-responses {
    font-weight: 400;
  }

}

.group-polls-link {
  display: block;
  padding: 0 15px;
  margin-left: 2px;
  color: $royal-blue-hover;
  &:hover {
    color: $brick-red;
    text-decoration: underline;
    cursor: pointer;
  }
}

.group-row-left {
  display: flex;
  align-items: center;
  font-size: $fontsize-strong;
  color: $dark-grey;

  > * {
    margin: 0 10px;
    display: block;
  }
}

.poll-list-item {

  .poll-list-item-icon {
    color: $dark-grey;

    display: flex;
    justify-content: center;
    width: 30px;
    margin: 0;
  }

  .activate-icon {
    &:hover {
      cursor: pointer;
      color: $forest-green-hover;
    }
  }

  &:hover {
    background-color: $lightest-grey;
  }

  &.activated {
    background-color: $soft-green;
    &:hover {
      background-color: $soft-green-hover;

      .activate-icon {
        color: $forest-green-hover;
        &:hover { color: $brick-red;}
      }
    }

    .activate-icon {
       color: $forest-green;
    }
  }

  .group-row-left .group-polls-link {
    padding: 0;
  }
}

.move-drawer-anchor { position: relative; }
.move-drawer-container {
  height: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: $lightest-grey;

  transition: height 400ms;

  &.open {
    height: 230px;
  }

  .move-drawer-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 18px;
    width: 100%;

  }

  h1 { 
    font-size: 2.25rem; 
    line-height: 0.95em;
  }

  .move-drawer-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    margin: 18px 0;
    padding: 0 18px;
    background-color: white;
  
    span { margin: auto; display: block; }

    input {
      border: 1px solid $light-grey;
      height: 100%;
    }

    form {
      height: 45px;
    }

    .button-grey {
      height: 45px;
      border: 1px solid $light-grey
    }

    $search-width: min(400px, 40vw);
    .group-search-container {
      margin-left: 40px;
      width: $search-width;
    }

    .group-search-list {
      max-height: 210px;
      border: 1px solid $light-grey;
      position: absolute;
      transform: translateY(44px);
      width: $search-width;    
    }
  }

  .move-buttons {
    display: flex;
    
    button { margin-right: 5px }
  }
}




