.show-poll-container {
  @include fullpage($navbar-offset);
  background: white;

  display: flex;
  align-items: stretch;
}

.show-poll-left {
  overflow: hidden;
  flex: 1;
  height: 100%;
  background-color: $lightest-grey;
}

.graph-container {
  $left-height: calc(100vh - #{$navbar-offset});
  $height: Min(calc(#{$left-height} * 0.85), 55vw); 
  width: Min(80%, 100vh);
  height: $height;
  margin: calc((#{$left-height} - #{$height}) / 3) auto 0 auto;
  
  display: flex;
  flex-direction: column;
  background-color: $softer-grey;
  border: 2px solid $soft-grey;
  
  h2 {
    margin: 20px auto;
    font-size: min(#{$fontsize-h2}, 1.7vw, 3.5vh);
    font-weight: 400;
    text-align: center;

    strong {
      font-weight: 700;
    }
  }

  .graph {  
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 62px - 40px - min(#{$fontsize-h2}, 1.7vw));

    $h1font: clamp(30px, Min(4vh, 3vw), 4rem);
    
    h1 {
      text-align: center;
      font-size: Min(#{$h1font}, 2.5vw, 3.5vh);
      max-width: 80%;
    }

    .graph-wrapper {
      width: 100%;
      margin: 20px auto;
      height: 80%;
      max-height: calc(100% - 100px - #{$h1font});
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo {
    margin: 15px auto;
    cursor: default;
  }
}

.show-poll-right {
  background-color: white;
  width: Min(400px, 35vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .show-poll-executive-commands {
    width: 100%;
    height: 50px;
    display: flex;

    > * {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button-transparent {
      border-top: 1px solid $light-grey;
    }
  }
}
