.signup {
  @include fullpage(72px);
  display: flex;


  &> div[class*="signup-div"] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    
    p { 
      font-size: $fontsize-strong;
    }

    &.signup-div-left {
      flex: 2;
      background: $gradient;

      h1, p { color: white; }


      .signup-div-text {
        min-width: 300px;
        width: min-content;
      }
    }
    
    &.signup-div-right {
      flex: 1;
      background: white;

      .signup-div-text {
        min-width: 300px;
        width: min-content;
      }

    }
  }
  
  .signup-div-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    
    >* {
      margin: 8px 0;
    }

    &::before{ margin-top: auto; content: ''}
    &::after{ margin-bottom: auto; content: ''}
    
  }
}

.signup-splash {
  .button {
    border-radius: 3px;
  }

  .signup-splash-img {
    width: 450px;
  }
}

.signup-form-container  {
  
  .signup-div-text {
    align-items: center; 
  }
  
  .signup-splash-img {
    width: 350px;
  }

  #signup-form-img + div .attribution-popup {
    right: 80%;
  }

}

.signup-form {
  width: 385px;
  padding: 36px;
  background-color: white;
  border-radius: 5px;

  .session-errors-container{
    background-color: $soft-coral;
    border: 1px solid $rich-coral;
    border-radius: 5px;
    padding: 10px;

    color: $dark-brick;

    & > h2 { color: $dark-brick; }

    .session-errors {
      margin: 25px 0 15px 0;
    }
  }

  input {
    border: 1px solid $grey;
    background-color: white;
    width: 100%;
    padding: 8px 10px;
  }

  >* {
    margin: 16px 0;
  }

  .button {
    width: 100%;

    &:disabled {
      background-color: $royal-blue-disabled;
    }
  }

  ::placeholder {
    color: $grey;
  }

  .signup-input-container {
    position: relative;

    &:last-of-type {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input { width: min-content; margin-left: 5px;}
      label { 
        flex: 1; 
        margin-left: 12px;
        line-height: 1.5rem;
      }
    }

    .signup-input-error {
      color: $brick-red;
    }

    .signup-error {
      position: absolute;
      background: $soft-coral;
      border: 1px solid $rich-coral;
      padding: 10px 30px;
      border-radius: 5px;
      top: 50%;
      left: 101.5%;
      transform: translate(0, -50%);
      width: fit-content;
      max-width: calc((66vw - 385px)/1.8);
      
      .error-message { color: $charcoal; font-size: 1rem; }

      .error-triangle-outline {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translate(0,-50%);
        border-right: 12px solid $rich-coral;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
      }

      .error-triangle-fill {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translate(0,-50%);
        border-right: 11px solid $soft-coral;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
      }

      strong { font-weight: 700;}
    }
  }
}