.icon-std {
  font-size: 28px;
  
  &:hover { cursor: pointer}
  
  i {
    vertical-align: top;
  }
}

.icon-grey {
  color: $dark-grey;
}

.icon-light {
  color: $lightest-grey;
}

.attribution-icon {
  opacity: 0.4;
  font-size: 20px;

  &:hover { opacity: 1; }
}