.large-input-container, .login-input-container {

  &.input-error {
    padding: 2px;
    background-color: $medium-coral;
  }
        
  .large-input-wrapper, .login-input-wrapper {
    display: flex;
    position: relative;
    height: 54px;
    background-color: white;
    border: 1px solid $robin-blue;
    margin: 2px 0;
  }
    
  .large-input {
    position: relative;
    width: 100%;
    height: 100%;
  }

  input {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 15px;
    z-index: 1;
    
    &.activated {
      padding-bottom: 5px;
      padding-top: 25px;
    }
  }
     
  .placeholder-input-label-container {
    position: absolute;
    bottom: 15px;
    left: 15px;      
  }

  .placeholder-input-label {
    font-style: italic;
    font-size: $fontsize-strong;
    color: $grey;  
  }    

  .small-input-label-container {
    position: absolute;
    bottom: 28px;
    left: 15px;

  }
  
  .small-input-label {
    font-size: $fontsize-small;
    color: $grey;
  }

  .large-input-error-msg, .login-error-msg {
    font-weight: 700;
    color: $dark-brick;
    padding: 5px;
  }      
}
