// text

h1 {
  font-size: $fontsize-h1;
  font-weight: $fontweight-h1;
  color: $charcoal;
}

h2 {
  font-size: $fontsize-h2;
  font-weight: $fontweight-h2;
  color: $charcoal;
}

h3 {
  font-size: $fontsize-h3;
  font-weight: $fontweight-h3;
  color: $charcoal;
}

// visibility

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

// layout

@mixin fullpage($offset: 0px){
  position: fixed;
  bottom: 0;
  height: calc(100vh - #{$offset});
  width: 100%;
  min-height: 0;
}

@mixin flex-center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

