// font
$sans: 'Source Sans Pro', sans-serif;

$fontsize-h1: 2.875rem;
$fontsize-h2: 1.75rem;
$fontsize-h3: 1.45rem;
$fontsize-h4: 1.15rem;
$fontsize-strong: 1.05rem;
$fontsize-small: .85rem;

$fontweight-h1: 700;
$fontweight-h2: 700;
$fontweight-h3: 400;
$fontweight-h4: 600;
$fontweight-strong: 600;


// color
$lightest-grey: #f7f7f7;
$light-grey: #ededed;
$softer-grey: #e1e1e1;
$soft-grey: #d9d9d9;
$medium-grey: #d1d1d1;
$grey-lighter: #b8b8b8;
$grey: hsl(0, 0%, 57%);
$rich-grey: hsl(0, 0%, 45%);
$dark-grey: #4d4d4d;
$charcoal: #2E2E2E;
$royal-blue: #007acc;
$royal-blue-hover: #0068ad;
$royal-blue-disabled: #87acc5;
$dark-royal: #005085;
$forest-green: #058f00;
$forest-green-hover: #067000;
$soft-coral: #fce5e3;
$medium-coral: #f8b5af;
$rich-coral: #f05e51;
$brick-red: #a33529;
$brick-red-hover: #8b2d23;
$brick-red-disabled: #c1908b;
$dark-brick: #6c1c13;
$robin-blue: #e5f3fb;

$gradient: linear-gradient(90deg, $royal-blue, $dark-royal);

// mixins and extensions


// not used

%wide-flexbox-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

