* {
  margin: 0; 
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  text-transform: inherit;
  background: transparent;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
a,
input[type="submit"] {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

// Broad Parent Styling

section.app {
  background: $light-grey;
  // font-family: $sans;
  font-family: 'Source Sans Pro', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

// .dynamic-font {
//   font-family: 'Source Sans Pro';
// }

.system-font {
  font-family: sans-serif;
}







