.new-poll-container {
  width: 100%;
  height: 100%;
  background: $medium-grey;
}

.new-poll-toolbar {
  display: flex;
  height: 70px;
  width: 100%;
  padding-left: 78px;
  background-color: white;
  align-items: center;

  &.sticky-new-poll-toolbar {
    height: 56px;
  }
}