// text

h1 {
  font-size: $fontsize-h1;
  font-weight: $fontweight-h1;
  color: $charcoal;
}

h2 {
  font-size: $fontsize-h2;
  font-weight: $fontweight-h2;
  color: $charcoal;
}

h3 {
  font-size: $fontsize-h3;
  font-weight: $fontweight-h3;
  color: $charcoal;
}

// visibility

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

// inputs

.login-input-wrapper {
  border: 1px solid $robin-blue;
}


.login-input-wrapper {
  position: relative;
  height: 54px;
  background-color: white;
  margin: 2px 0;

  input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
    &.activated {
      padding-bottom: 5px;
      padding-top: 25px;
    }
  }
  

  .view-password-button {
    padding: 5px 1px;
    position: absolute;
    right: 2px;
    top: 5px;
    font-size: 1.5rem;
    color: $grey;
    border: 1px solid transparent;
    transition: color .3s, border .3s ease-in;

    &:hover {
      border: 1px solid $light-grey;
      color: $charcoal;
    }
  }
}

.placeholder-input-label-container {
  position: absolute;
  bottom: 15px;

  .placeholder-input-label {
    font-style: italic;
    font-size: $fontsize-strong;
    color: $grey;  
  }          
}

.small-input-label-container {
  position: absolute;
  bottom: 28px;

  .small-input-label {
    font-size: $fontsize-small;
    color: $grey;
  }
}

// buttons & links

button {
  outline: none;
}

@mixin button($bkgnd-color, $hover-color, $txt-color) {
  font-size: $fontsize-strong;
  font-weight: $fontweight-strong;
  padding: 8px 14px;
  text-align: center;
  transition: all 0.2s;
  background-color: $bkgnd-color;
  color: $txt-color;

  &:hover {
    background-color: $hover-color;
  }
}


.button-white {
  @include button(white, $light-grey, $royal-blue);
}

.button-grey {
  @include button($light-grey, $softer-grey, $dark-grey);
  &:disabled { 
    background-color: $lightest-grey;
    color: $grey; 
  }
}

.button-blue {
  @include button($royal-blue, $royal-blue-hover, white);
  &:disabled { background-color: $royal-blue-disabled }
}

.button-red {
  @include button($brick-red, $brick-red-hover, white);

  &:disabled { background-color: $brick-red-disabled; }
}

.button-green {
  @include button($forest-green, $forest-green-hover, white);
}

// images

.attributed-image-container {
  position: relative;

  .attribution-container {
    position:absolute;
    top: calc(100% - 30px);
    left: 100%;
    
    button { outline: none;}
    
    .attribution-popup {
      position: relative;
      right: 40%;
      top: 10px;
      padding: 10px;
      background-color: $charcoal;
      color: white;
      opacity: .7;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 $charcoal;
      text-align: center;
      
      a { 
        font-weight: 600; 
        &:hover { text-decoration: underline;}
      }
      
    }
  }
}

// icons



.icon-std {
  font-size: 28px;
  
  &:hover { cursor: pointer}
  
  i {
    vertical-align: top;
  }
}

.icon-grey {
  color: $dark-grey;
}

.icon-light {
  color: $lightest-grey;
}

.attribution-icon {
  opacity: 0.4;
  font-size: 20px;

  &:hover { opacity: 1; }
}

// animations

@keyframes slide-up-and-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  
  to {
    opacity: unset;
    transform: translateY(0%);
  }
}

@keyframes slide-down-and-out {
  from {
    opacity: 0.8;
    transform: translateY(0);
  }
  
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

// layout

@mixin fullpage($offset){
  position: fixed;
  bottom: 0;
  height: calc(100vh - #{$offset});
  width: 100%;
  min-height: 0;
}



